@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --name: 00FFFFFF;
  --cardNum: 00FFFFFF;
  --month: 00FFFFFF;
  --year: 00FFFFFF;
  --cvc: 00FFFFFF;
}
.outerCont {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  width: 100vw;
  height: 100vh;
}
.header {
  width: 100%;
  height: 240px;
  background-image: url(./asset/images/bg-main-mobile.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  user-select: none;
}
.cardContainer {
  width: 375px;
  position: relative;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
}
.cardSize {
  max-width: 286px;
  height: 157px;
  display: flex;
  position: absolute;
}
.cardBack {
  top: 32px;
  right: 16px;
}
.cardFront {
  top: 126px;
  left: 16px;
}
.cardLogo {
  width: 55px;
  position: absolute;
  top: 144px;
  left: 36px;
}
.cvcNumber {
  font-size: 9px;
  line-height: 11px;
  text-align: right;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 104px;
  right: 50px;
}
.cardNumber {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2.2px;
  color: #ffffff;
  position: absolute;
  top: 211px;
  left: 36px;
}
.cardNameDateCont {
  display: flex;
}
.cardNameDate {
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 251px;
}
.cardName {
  left: 36px;
}
.cardDate {
  left: 250px;
}
.inputContOuter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 67px;
  padding: 24px;
}
.inputContInner {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.cardDetail {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #21092f;
  min-width: 73px;
}
input {
  cursor: pointer;
}
.inputNameNumber {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #21092f;
  mix-blend-mode: normal;
  border: 1px solid #dfdee0;
  border-radius: 8px;
  padding: 10px;
}
.warningText {
  font-size: 12px;
  line-height: 15px;
  color: #ff5050;
}
#nameWarning {
  display: none;
}
#numberWarning {
  display: none;
}
#monthWarning {
  display: none;
}
#yearWarning {
  display: none;
}
#cvcWarning {
  display: none;
}
#cardName {
  outline: 1px solid var(--name);
}
#cardNumber {
  outline: 1px solid var(--cardNum);
}
#month {
  outline: 1px solid var(--month);
}
#year {
  outline: 1px solid var(--year);
}
#cvc {
  outline: 1px solid var(--cvc);
}
input::placeholder {
  opacity: 0.25;
}
.inputContInnerB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}
.bottomInner {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 100%;
  gap: 8px;
}
.addition {
  width: calc(100% - 24px);
  margin: 9px 0px;
}
.buttonCont {
  padding: 4px 24px;
}
.createBTN {
  background: #21092f;
  border-radius: 8px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  width: 100%;
  height: 53px;
  cursor: pointer;
  user-select: none;
}
.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 91px;
}
.thankTxt1 {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3.42222px;
  color: #21092f;
  margin-top: 35px;
}
.thankTxt2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #8f8694;
  margin-top: 16px;
}
.restart {
  margin-top: 48px;
  padding: 15px 24px;
  width: calc(100% - 24px);
  background: #21092f;
  border-radius: 8px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .outerCont {
    display: flex;
    align-items: center;
  }
  .header {
    width: 483px;
    height: 100%;
  }
  .cardBack {
    top: calc(50% + 40px);
    left: 288px;
  }
  .cardFront {
    top: calc(50% - 140px);
    left: 214px;
  }
  .inputContOuter,
  .buttonCont {
    max-width: 381px;
    margin-left: 250px;
  }
}
